
.blur-container {
  min-height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}

.blur-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  
  .blur-card {
    width: 275px;
    height: 220px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba(104, 104, 104, 0.37);
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
  }
  .blur-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .blur-subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-top: 40px;
    text-align: center;
  }
  
  .blur-btn {
    background: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    color: whitesmoke;
    background-color: #7f7f7f;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .blur-blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(
      180deg,
      rgba(200, 47, 255, 0.42) 31.77%,
      #de7bf7 100%
      );
      mix-blend-mode: color-dodge;
      -webkit-animation: move 15s infinite alternate;
      animation: move 15s infinite alternate;
      transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
    }
    
    .blur-blob:hover {
      -webkit-filter: blur(30px);
      filter: blur(30px);
    }
    
    
    
    @-webkit-keyframes move {
      from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
      }
      
      to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
      }
    }
    
    @keyframes move {
      from {
        transform: translate(-100px, -50px) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
      }
      
      to {
        transform: translate(500px, 100px) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
      }
    }


    @media screen and (max-width: 1100px) { 
      .blur-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
      }
      .blur-title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        text-align: center;
      }
      .blur-subtitle {
        font-size: 1rem;
        margin-bottom: 2rem;
        margin-top: 40px;
        text-align: center;
      }
    }

    @media screen and (max-width: 700px) { 
      .blur-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
      }
      .blur-title {
        font-size: 1.7rem;
        margin-bottom: 0.9rem;
        text-align: center;
      }
      .blur-subtitle {
        font-size: 1rem;
        margin-bottom: 2rem;
        margin-top: 40px;
        text-align: center;
      }
      .blur-card {
        width: 255px;
        height: 200px;
      }
    }

    @media screen and (max-width: 500px) { 
      .blur-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
      }
      .blur-title {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
        text-align: center;
      }
      .blur-subtitle {
        font-size: 0.8rem;
        margin-bottom: 2rem;
        margin-top: 40px;
        text-align: center;
      }
      .blur-card {
        width: 230px;
        height: 180px;
      }
    }

